In [1]:
import sys
import pandas as pd
import ECAUGT as HCAd_Client
import time
import multiprocessing
import numpy as np

In [5]:
# set parameters
endpoint = "https://HCAd-Datasets.cn-beijing.ots.aliyuncs.com"
access_id = "LTAI4GCTcWFcg3Uwys7Dehnb" #enter your id and keys
access_key = "qlobKBuYKaxkqMgTy6hIBwPgn0wuq5"
instance_name = "HCAd-Datasets"
table_name = 'HCA_d'

In [6]:
# # setup client
HCAd_Client.Setup_Client(endpoint, access_id, access_key, instance_name, table_name)

Connected to the server, find the table.
HCA_d
TableName: HCA_d
PrimaryKey: [('cid', 'INTEGER')]
Reserved read throughput: 0
Reserved write throughput: 0
Last increase throughput time: 1605795297
Last decrease throughput time: None
table options's time to live: -1
table options's max version: 1
table options's max_time_deviation: 86400

0

In [7]:
condition = "organ==Heart"
rows_to_get = HCAd_Client.query_cells(condition)

210597 cells found

In [8]:
gene_condition = HCAd_Client.seq2filter("VCAM1 > 0.1")
HCAd_Client.get_columnsbycell_para(rows_to_get = rows_to_get, cols_to_get=['VCAM1'], col_filter=gene_condition, do_transfer = True, thread_num = multiprocessing.cpu_count()-1)

            VCAM1
cid
2162711  2.407986
2162717  1.937944
2162719  2.648144
2162722  4.098015
2162724  3.273536
...           ...
2376741  3.753418
2376747  3.539359
2377776  3.197619
2377812  3.065720
2378147  3.132438

[2602 rows x 1 columns]

In [11]:
gene_condition = HCAd_Client.seq2filter("VCAM1 >= 0.1 && ACTA2>=0.1 && C1QA>=0.1")
HCAd_Client.get_columnsbycell_para(rows_to_get = rows_to_get, cols_to_get=['VCAM1','ACTA2','C1QA'], col_filter=gene_condition, do_transfer = True, thread_num = multiprocessing.cpu_count()-1)

            ACTA2      C1QA     VCAM1
cid
2162752  1.506691  0.532013  2.882370
2162776  0.585398  0.334938  1.219980
2162836  1.412232  1.412232  1.412232
2162843  0.150505  0.281294  0.500584
2162880  0.320656  0.173126  3.241499
...           ...       ...       ...
2182452  0.286790  0.105004  0.105004
2182456  0.320126  0.224370  0.224370
2182480  0.474678  0.474678  0.795249
2183950  0.418718  0.159852  0.418718
2361662  1.750481  1.750481  1.750481

[104 rows x 3 columns]